{% extends "base.html" %}

{% block content %}
<div class="container">
    {% if user.first_name %}
        <h3>{{ user.first_name }}
    {% else %}
        <h3>{{ user }}
    {% endif %}
        's Profile</h3>
    <hr>
    <p>Email: {{ user.email }}</p>
    <p>First name: {{ user.first_name }}</p>
    <p>Last name: {{ user.last_name }}</p>
    <p>Description: {{ user.userprofile.description }}</p>
    <p>City: {{ user.userprofile.city }}</p>
    <p>Website: {{ user.userprofile.website }}</p>
    <p>Phone: {{ user.userprofile.phone }}</p>
    {% if user.userprofile.image %}
        <a href="{{ user.userprofile.image.url }}">
        <img class="profile" src="{{ user.userprofile.image.url }}" width="240"/> <br>
        </a>
    {% endif %}

    {% if user == request.user %}
    <button onclick="window.location='{% url 'accounts:edit_profile' %}'" class="btn btn-primary my-2">Edit profile</button>
    <button onclick="window.location='{% url 'accounts:change_password' %}'" class="btn btn-primary my-2">Change Password</button>
    {% else %}
        {% if not user in friends %}
            <a href="{% url 'album:change_friends' operation='add' pk=user.pk %}">
                <button type="button" class="btn btn-success">Add Friend</button>
            </a>
        {% else %}
        {% for friend in friends %}
            {% if user == friend %}
            <a href="{% url 'album:change_friends' operation='remove' pk=friend.pk %}">
                <button type="button" class="btn btn-danger">Remove Friend</button>
            </a>
            {% endif %}
        {% endfor %}
        {% endif %}
    {% endif %}
</div>
{% endblock %}
