{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1>Login</h1>
        <form method="POST">
            <!-- {% csrf_token %}

            {% if form.errors %}
                <ul>
                    <li>Please enter a correct email and password. Note that both fields may be case-sensitive.</li>
                    <li>If your account is not activated yet. Please contact Gwangyeong to activate your account.</li>
                </ul>
            {% endif %}

            {% for field in form %}
                <input type="{% if field.label == 'Password' %}password{% else %}input{% endif %}" placeholder="{{ field.label }}" name="{{ field.name }}" class="form-control">
                <p></p>
            {% endfor %}
            <button type="submit" name="button" class="btn btn-primary">Login</button> -->

            {% csrf_token %}
            {% if context %}
                <ul>
                    <li>{{ context }}</li>
                </ul>
            {% endif %}
            <div class="col-md-6 col-sm-12">
                <input type="text" id="email" name="email"  placeholder="Email" class="form-control my-2">
                <input type="password" name="password" id="password" placeholder="Password" class="form-control my-2">

                <button type="submit" name="button" class="btn btn-primary my-2">Login</button>
            </div>
        </form>
    </div>
{% endblock %}
