{% extends 'base.html' %}

{% block content %}
<h1>New Calendar post</h1>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <label>{{ form.title.label }}</label>
        <input placeholder="{{  form.title.label  }}" name="title" class="form-control">
    <label>{{ form.description.label }}</label>
        <input placeholder="{{ form.description.label }}" name="description" class="form-control">
    <label>{{ form.image.label }}</label>
        <div class="custom-file">
            <input type="file" name="image" class="custom-file-input" id="inputGroupFile02">
            <label class="custom-file-label" for="inputGroupFile02">Upload {{ form.image.label }}</label>
        </div>
    <label>{{ form.date.label }}</label>
        <input type="date" placeholder="{{ form.date.label }}" value="{{ today|date:"Y-m-d" }}" name="date" class="form-control">


    <!-- emoticons -->
    <label>{{ form.emoticon.label }}</label><br>

    <div class="form-group form-inline">
        <div class="custom-control custom-radio">
            <input type="radio" id="customRadio1" name="emoticon" class="custom-control-input" checked="" value="happy">
            <label class="custom-control-label" for="customRadio1"><img src="/media/emoticons/happy.png" style="width:50;"> Happy</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" id="customRadio2" name="emoticon" class="custom-control-input" value="sleepy">
            <label class="custom-control-label" for="customRadio2"><img src="/media/emoticons/sleepy.png" style="width:50;"> Sleepy</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" id="customRadio3" name="emoticon" class="custom-control-input">
            <label class="custom-control-label" for="customRadio3">Disabled custom radio</label>
        </div>
    </div>

    <hr>
    <button type="submit" class="save btn btn-primary">Upload</button>
</form>
{% endblock %}
