{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-sm-6">
        <h5>Welcome, {{user}}!</h5>
    </div>
    <div class="col-sm-6">
        <button onclick="window.location='{% url 'album:post_new' %}'" type="button" class="btn btn-primary" >New Post</button>
    </div>
</div>

<hr>
<form class="my-2" action="" method="get">
    <div class="form-inline my-2">
        <input class="form-control mr-sm-2 my-2" placeholder="Title" type="text" name="title">
        <input class="form-control mr-sm-2 my-2" placeholder="Emoticon" type="text" name="emoticon">
        <input class="form-control mr-sm-2 my-2" type="month" name="year_month" value="">
    </div>
  <button type="submit" class="btn btn-primary my-2">Search</button>
</form>

<hr>


<h1 class="my-4 text-center">
    <form class="my-2" action="" method="get">
        {% if title or emoticon %}
            Searched by
            {% if title %}
                Title : {{title}}
            {% else %}
                <img src="/media/emoticons/{{ emoticon }}.png" style="width:30;">
            {% endif %}
        {% elif year_month %}
        <button type="submit" class="btn btn-primary mr-sm-5" name="year_month"  value="{{pre_year_month}}">Back</button>
        {{ year_month|date:"Y. m" }}
        <button type="submit" class="btn btn-primary ml-sm-5" name="year_month"  value="{{next_year_month}}">Next</button>
        {% endif %}
    </form>
</h1>
<div class="row text-center">
    {% for post in posts %}
    <div class="col-md-6 col-6">
        <a href="{% url 'album:post_detail' pk=post.pk %}" class="d-block mb-2">
        <h2>{{ post.date|date:"Y.m.d" }}</h2>
        {% if post.image %}
            <img class="img-fluid img-thumbnail w3-round-xlarge" src="{{ post.image.url }}"/>
        {% endif %}
        </a>
        Posted by {{ post.author }}<br>
        title : {{ post.title }}<br>
        <form class="my-2" method="get">
            <button type="submit" class="btn btn-light" name="emoticon" value="{{ post.emoticon }}" ><img src="/media/emoticons/{{ post.emoticon }}.png" style="width:30;"><br></button>
        </form>
    </div>
    {% endfor %}
</div>

{% endblock %}
