{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-sm-6">
        <h5><a class="text-info" href="{% url 'accounts:view_profile' %}">Welcome! {{user.first_name}}</a></h5>
    </div>
    <div class="col-sm-6">
        <button onclick="window.location='{% url 'album:post_new' %}'" type="button" class="btn btn-primary" >New Post</button>
    </div>
</div>

<hr>
<form class="my-2" action="" method="get" autocomplete="off">
    <div class="form-inline my-2">
        <input class="form-control mr-sm-2 my-2" placeholder="Title" type="text" name="title">
        <select class="form-control mr-sm-2 my-2" name="emoticon">
            <option selected value="" >Emoticon</option>
            {% for value, text in form.emoticon.field.choices %}
                <option value="{{value}}">{{text}}</option>
            {% endfor %}
        </select>
        <input class="form-control mr-sm-2 my-2" placeholder="Date" type="text" id="datepicker" name="year_month">
    </div>
        <button type="submit" class="btn btn-primary my-2">Search</button>
</form>

<hr>


<h1 class="my-4 text-center">
    <form class="my-2" action="" method="get">
        {% if title or emoticon %}
            Searched by
            {% if title %}
                Title : {{title}}
            {% else %}
                <img src="/media/emoticons/{{ emoticon }}.png" style="width:30;">
            {% endif %}
        {% elif year_month %}
        <button type="submit" class="btn btn-primary mr-sm-5" name="year_month"  value="{{pre_year_month}}">Back</button>
        {{ year_month|date:"Y. m" }}
        <button type="submit" class="btn btn-primary ml-sm-5" name="year_month"  value="{{next_year_month}}">Next</button>
        {% endif %}
    </form>
</h1>

<div class="container">
    <div class="row text-center">
        {% for post in posts %}
        <div class="card text-center mb-3 col-6 col-lg-4">
            <h3 class="card-header">{{ post.date|date:"Y.m.d" }}</h3>

            <a class="portfolio-box" href="{% url 'album:post_detail' pk=post.pk %}">
                {% for thumb in post.images.all %}
                    {% if forloop.counter == 1 %}
                    <img class="img-thumbnail w3-round-xlarge img-responsive" style="width: 100%; display: block;" src="{{ thumb.thumbnail.url }}" alt="Card image">
                    {% endif %}
                {% endfor %}
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            title
                        </div>
                        <div class="project-name">
                            {{ post.title }}
                        </div>
                        <!-- <hr>
                            {% with total=post.comments.count %}
                                {{ total }} comment{{ total|pluralize }}
                            {% endwith %}

                            {% for image in post.images.all %}
                                {{ forloop.counter }}. {{ image.image_comments.count }}<br>
                            {% endfor %} -->
                    </div>
                </div>
            </a>
            <form method="get">
                {% for emot in post.emoticon %}
                    <button type="submit" class="btn btn-primary btn-sm" name="emoticon" value="{{ emot }}" >
                        <img src="/media/emoticons/{{ emot }}.png" style="width:35;">
                    </button>
                {% endfor %}
            </form>

        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript">
    $(function () {
        $('#datepicker').datepicker({
            minViewMode: 1,
            format: 'yyyy-mm',
            autoclose: true,
            todayHighlight : true,
        });
    });
</script>
{% endblock %}
