{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-sm-6">
        <h5><a class="nav-link" href="{% url 'accounts:view_profile' %}">Welcome! {{user.first_name}}</a></h5>
    </div>
    <div class="col-sm-6">
        <button onclick="window.location='{% url 'album:post_new' %}'" type="button" class="btn btn-primary" >New Post</button>
    </div>
</div>

<hr>
<form class="my-2" action="" method="get">
    <div class="form-inline my-2">
        <input class="form-control mr-sm-2 my-2" placeholder="Title" type="text" name="title">
        <input class="form-control mr-sm-2 my-2" placeholder="Emoticon" type="text" name="emoticon">
        <input class="form-control mr-sm-2 my-2" type="month" name="year_month" value="">
    </div>
        <button type="submit" class="btn btn-primary my-2">Search</button>
</form>

<hr>


<h1 class="my-4 text-center">
    <form class="my-2" action="" method="get">
        {% if title or emoticon %}
            Searched by
            {% if title %}
                Title : {{title}}
            {% else %}
                <img src="/media/emoticons/{{ emoticon }}.png" style="width:30;">
            {% endif %}
        {% elif year_month %}
        <button type="submit" class="btn btn-primary mr-sm-5" name="year_month"  value="{{pre_year_month}}">Back</button>
        {{ year_month|date:"Y. m" }}
        <button type="submit" class="btn btn-primary ml-sm-5" name="year_month"  value="{{next_year_month}}">Next</button>
        {% endif %}
    </form>
</h1>

<div class="row text-center">
    {% for post in posts %}
    <div class="card mb-3 col-6">
        <h3 class="card-header">{{ post.date|date:"Y.m.d" }}</h3>
        <div class="hovereffect card-body">
            <!-- <img class="img-thumbnail w3-round-xlarge img-responsive" style="width: 100%; display: block;" src="{{ post.image.url }}" alt="Card image"> -->
            {% for thumb in post.images.all %}
                {% if forloop.counter == 1 %}
                <img class="img-thumbnail w3-round-xlarge img-responsive" style="width: 100%; display: block;" src="{{ thumb.thumbnail.url }}" alt="Card image">
                {% endif %}
            {% endfor %}
            <a href="{% url 'album:post_detail' pk=post.pk %}">
                <div class="overlay">
                   <h2>Title : {{ post.title }}</h2>
                   <p>See more</p>
                </div>
            </a>
        </div>

        <form method="get">
            <button type="submit" class="btn btn-primary btn-sm" name="emoticon" value="{{ post.emoticon }}" >
                <img src="/media/emoticons/{{ post.emoticon }}.png" style="width:35;">
            </button>
        </form>
    </div>
    {% endfor %}

</div>

<script type="text/javascript">
    $(function () {
      /* 1. OPEN THE FILE EXPLORER WINDOW */
      $(".js-upload-photos").click(function () {
        $("#fileupload").click();
      });

      /* 2. INITIALIZE THE FILE UPLOAD COMPONENT */
      $("#fileupload").fileupload({
        dataType: 'json',
        done: function (e, data) {  /* 3. PROCESS THE RESPONSE FROM THE SERVER */
          if (data.result.is_valid) {
            $("#gallery tbody").prepend(
              "<tr><td><a href='" + data.result.url + "'>" + data.result.name + "</a></td></tr>"
            )
          }
        }
      });

    });
</script>

{% endblock %}
