{% extends 'base.html' %}

{% block content %}
<div class="post">
    {% if user.is_authenticated and user.is_superuser or user == post.author %}
        <!-- 수정버튼 -->
        <a class="btn btn-secondary btn-sm" href="{% url 'album:post_edit' pk=post.pk %}">Edit</a>
        <!-- 삭제버튼 -->
        <a class="btn btn-danger btn-sm" href="{% url 'album:post_remove' pk=post.pk %}">Delete</a>
    {% endif %}

    <h1>title : {{ post.title }}</h1>
    <h2>{{ post.date|date:"Y.m.d" }}</h2>
    <a href="{{ post.image.url }}" class="d-block mb-2">
        <img class="img-fluid img-thumbnail w3-round-xlarge" src="{{ post.image.url }}"/>
    </a>
    <p>description : {{ post.description }}</p>
    <p>author : {{ post.author }}</p>
    <br><br>
</div>

<hr>
{% if user.is_authenticated %}
<form method="post">
    {% csrf_token %}
    {{ form.comment }}
    <br>
    <button type="submit" class="btn btn-primary btn-sm">Add Comment</button>
    <hr>
</form>

{% for comment in post.comments.all %}
<div class="comment">
    <div class="date">
        {{ comment.created_date }}
    </div>
        {% for user in users %}
            {% if user.email == comment.author %}
            <a href="{% url 'accounts:view_profile_with_pk' pk=user.pk %}">
            <img class="comment rounded-circle" src="{{ user.userprofile.image_thumbnail.url }}" width="62" height="62"/>
                {% if user.first_name %}
                    <strong> {{ user.first_name }}</strong>
                {% else %}
                    <strong> {{ comment.author }}</strong>
                {% endif %}
            </a> : {{ comment.comment }}
            {% endif %}
        {% endfor %}

    {% if user.is_superuser or user.email == comment.author %}
    <a class="btn btn-danger btn-sm" href="{% url 'album:comment_remove' pk=comment.pk %}">Delete</a>
    {% endif %}
    <hr>
</div>
{% empty %}
<p>No comments here yet :(</p>
{% endfor %}
{% else %}
<div class="comment">
    <p>Login is required to read comments.</p>
</div>
{% endif %}

{% endblock %}
